.calendarContainer {
    padding: 5px;
}

.calendarGridContainer {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-auto-rows: 1fr 1fr minmax(300px, auto);
}

.foodnames {
  grid-column: 1 / 2;
  grid-row: 1 / 20;
}
