.monthsListContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 90px;
    margin-top: 30px;
    float: left;
}

.monthTextContainer {
    /* when text items should align left instead of center use flex-grow instead of margin auto */
    /*flex-grow: 1;*/
    margin: auto;
}

.monthText {
}