.seasonalContentContainer {
    /*padding: 5px;*/
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    height: 300px;
}

.foodContainer {
    display: flex;
    text-align: center;
}

.foodMonth {
    border: 1px solid black;
    flex: 1 1 0;
}